/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #f6469d;
}

a {
  text-decoration: none;
}

.wrapper {
  /* height: 100%; */
  text-align: center;
  position: relative;
  background-image: url("./assets/bg.jpg");
  width: 600px;
  margin: 0 auto;
}

.container {
  width: 506px;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
}

.header__logo {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.header__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 65px;
}

.content__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 25px;
}

.content__info {
  height: 170px;
  background-color: #fff;
}

.content__info-img {
  padding-top: 28px;
  margin-bottom: 5px;
}

.content__info-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin: 0 auto;
}

.content__info-text a {
  color: #69bdef;
}

.content__rsb{
}

.content__block {
  display: flex;
  align-items: center;
}

.content__block-img {
  width: 170px;
  height: 180px;
}

.content__block-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin-left: 20px;
}

.content__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.footer {
  background-color: #f1f5fc;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer__text {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #00000033;
  border-bottom: 1px solid #00000033;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.footer__text a {
  color: #f6469d;
}

.footer__rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__rating-text {
  font-family: "Montserrat", sans-serif;
  margin-right: 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.footer__smiles {
  display: flex;
}

.footer__smiles a {
  display: block;
}

.footer__smiles a:first-child {
  border-right: 1px solid #00000033;
  padding-right: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 426px) {
  .wrapper {
    width: 426px;
  }

  .container {
    width: 370px;
  }

}


@media screen and (max-width: 376px) {
  .wrapper {
    width: 376px;
  }

  .container {
    width: 350px;
  }

}




@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
  }

  .container {
    width: 300px;
  }

  .content__block{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}